li{
    color: #333;
    font-size: 14px;
    line-height: 2.5em;
    background-color: #fff;
}

li > i{
    padding: 2px;
}

ul,li:hover{
    background-color: #ccc;
}
li:active{
    background-color: #145ccd;
    border-radius: 5px;
}


